<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <h1> Welcome to Blogsite's About Us page</h1>
    <p>
        We are a friendly community open to all different sorts of backgrounds and different sorts of opinions. Here at Blogsite, we encourage freedom of speech, different perspective and a networking community of like minded individuals. Hate speech will not be tolerated and will result of a termination in your account. 
    </p>
</body>
</html>