<form>
    <h1>Welcome to Blogsite</h1>
    <div class="row mb-3">
    <label for="signupEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email"  class="form-control" id="signupEmail">
    </div>
  </div>
  <div class="row mb-3">
    <label for="signupPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password"  class="form-control" id="signupPassword">
    </div>
  </div>
  <fieldset class="row mb-3">
   </fieldset>
  {{!-- <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label"> Verify Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3">
    </div> --}}
  </div>
  </div>
  <button id="signUpBtn" class="btn btn-primary">Sign Up
  </button>
</form>

<script src="/js/homepage.js"></script>